<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro Profesor</title>
    <link rel = "icon" href = "img/logo64.png" type = "image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/RegistroProfesor.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
</head>
<body>

<form th:action="@{/registrar-profesor}" method="post" th:object="${profesor}" enctype="multipart/form-data">
    
    <div class="input__wrapper">



        <label class="input__label" for="usuario">Usuario : </label> <input
            id="usuario" type="text" class="input__field" th:field="*{username}"
            required autofocus="autofocus">


    </div>

    <br>

    <div class="input__wrapper">
        <label class="input__label" for="Nombre">Nombre : </label> <input
            id="Nombre" type="text" class="input__field" th:field="*{name}"
            required autofocus="autofocus">
    </div>

    <br>

    <div class="input__wrapper">
        <label class="input__label" for="Apellidos">Apellidos : </label> <input
            id="Apellidos" type="text" class="input__field" th:field="*{surname}"
            required autofocus="autofocus">
    </div>

    <br>

    <div class="input__wrapper">
        <label class="input__label" for="mail">Email : </label> <input
            id="mail" type="text" class="input__field" th:field="*{mail}"
            required autofocus="autofocus">
    </div>

    <br>

    <div class="input__wrapper">
        <label class="input__label" for="password">Contraseña : </label> <input
            type="password" id="password" class="input__field" th:field="*{password}"
            required autofocus="autofocus">
    </div>

    <br>

    <div class="input__wrapper">
        <label class="input__label" for="price_per_hour">Precio por hora: </label> <input
            type="text" id="price_per_hour" class="input__field" th:field="*{pricePerHour}"
            required autofocus="autofocus">
    </div>

    <br>

    <div class="input__wrapper">
    <label class="input__label" for="paises">¡Dinos de donde eres!:</label>
    <select id="paises" name="Dinos de donde eres" th:field="*{pais}">
        <option th:each="pais : ${paises}" th:value="${pais.id}" th:text="${pais.nombre}"></option>
    </select>
    </div>

    <br>

    <div class="input__wrapper">
        <label class="input__label" for="paises">Prefijo:</label>
        <select id="prefijo" name="prefijo" th:field="*{prefijo}">
            <option th:each="pais : ${paises}" th:value="${pais.id}" th:text="${pais.prefijo + ' (' + pais.nombre + ')'}"></option>
        </select>

        <br>

        <label class="control-label" for="telefono">Telefono móvil : </label>
        <input id="telefono" type="text" class="input__field" th:field="*{telefono}" required autofocus="autofocus">
    </div>

    <br>

    <div class="input__wrapper">
        <label class="input__label"> ¡Qué idiomas hablas!:</label>
        <select  id="SeleccionIdiomasHabla" name="¡Qué idiomas hablas!" th:field="*{idiomas}" multiple>
            <option th:each="idioma : ${idiomas}" th:value="${idioma.id}" th:text="${idioma.getName()}"></option>
        </select>
    </div>

    <br>

    <div class="input__wrapper">
        <label class="input__label"> ¡Qué idiomas quieres enseñar!:</label>
        <select id="SeleccionIdiomasEnseñar" name="¡Qué idiomas quieres enseñar!" th:field="*{idiomasEnseña}" multiple>
            <option th:each="idioma : ${idiomas}" th:value="${idioma.id}" th:text="${idioma.getName()}"></option>
        </select>
    </div>

    <br>


    <div class="input__wrapper">
        <label class="input__label"> ¡Qué tipo de clase quieres enseñar!:</label>
        <select id="TipoClase" name="¡Qué tipo de clase quieres enseñar!" th:field="*{clasetipos}" multiple>
            <option th:each="tipoClase : ${tiposClase}" th:value="${tipoClase.id}" th:text="${tipoClase.getNombre()}"></option>
        </select>
    </div>

    <br>

    <!--
    <label for="archivo">Selecciona un archivo:</label>
    <input type="file" id="archivo" name="archivo">
    -->

    <div class="input__wrapper">


        <label class="input__label"> Selecciona un archivo: </label>
        <div class="dropzone-area">
            <div class="file-upload-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cloud-upload" width="24"
                     height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1" />
                    <path d="M9 15l3 -3l3 3" />
                    <path d="M12 12l0 9" />
                </svg>
            </div>
            <input type="file" required id="upload-file" name="archivo">
            <p class="file-info">No hay archivo seleccionado</p>
        </div>

    <!--
        <div class="dropzone-actions">
            <button type="reset">
                Cancel
            </button>
            <button id="submit-button" type="submit">
                Save
            </button>
        </div>

        -->

    </div>

    <br>


    <!--
    <div class="input__wrapper">

    <label class="input__label" for="video">Video:</label>
    <input type="file" id="video" name="video" accept="video/*">

    </div>

    -->

    <div class="input__wrapper">


        <label class="input__label"> Selecciona un vídeo: </label>
        <div class="dropzone-area">
            <div class="file-upload-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cloud-upload" width="24"
                     height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1" />
                    <path d="M9 15l3 -3l3 3" />
                    <path d="M12 12l0 9" />
                </svg>
            </div>
            <input type="file" id="upload-file2" name="video" accept="video/*">
            <p class="file-info">No hay vídeo seleccionado</p>
        </div>

        <!--
            <div class="dropzone-actions">
                <button type="reset">
                    Cancel
                </button>
                <button id="submit-button" type="submit">
                    Save
                </button>
            </div>

            -->

    </div>

    <br>

    <!--
    <div class="input__wrapper">

    <label class="input__label" for="imagen">Foto de perfil:</label>
    <input type="file" id="imagen" name="imagen" accept="image/*">

    </div>
    -->

    <div class="input__wrapper">


        <label class="input__label"> Selecciona una foto de perfil: </label>
        <div class="dropzone-area">
            <div class="file-upload-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cloud-upload" width="24"
                     height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1" />
                    <path d="M9 15l3 -3l3 3" />
                    <path d="M12 12l0 9" />
                </svg>
            </div>
            <input type="file" id="upload-file3" name="imagen" accept="image/*">
            <p class="file-info">No hay foto seleccionada</p>
        </div>

        <!--
            <div class="dropzone-actions">
                <button type="reset">
                    Cancel
                </button>
                <button id="submit-button" type="submit">
                    Save
                </button>
            </div>

            -->

    </div>

    <br>


        <button type="submit" class="btn btn-success">Registrar</button>
        <span>Si estas registrado <a th:href="@{/login}">inicia sesión aqui</a></span>


</form>

<script>
    $(document).ready(function() {
        $('#TipoClase').chosen();
    });
</script>

<script>
    $(document).ready(function() {
        $('#SeleccionIdiomasEnseñar').chosen();
    });
</script>

<script>
    $(document).ready(function() {
        $('#SeleccionIdiomasHabla\n').chosen();
    });
</script>


<script th:src="@{/js/RegistroProfesor.js}"></script>

</body>
</html>