<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>

</head>
<body>
<h1>Editar Usuario</h1>
<form th:action="@{/admin/edit/usuario/{id}(id=${usuario.id})}" th:method="post">

    <label for="username">Nombre de usuario:</label><br>
    <input type="text" id="username" name="username" th:value="${usuario.username}"><br>

    <label for="mail">Correo electrónico:</label><br>
    <input type="text" id="mail" name="mail" th:value="${usuario.mail}"><br>

    <label for="role">Rol:</label><br>
    <input type="text" id="role" name="role" th:value="${usuario.role}"><br>

    <label for="name">Nombre:</label><br>
    <input type="text" id="name" name="name" th:value="${usuario.name}"><br>

    <label for="surname">Apellidos:</label><br>
    <input type="text" id="surname" name="surname" th:value="${usuario.surname}"><br>

    <label for="role">Contraseña:</label><br>
    <input type="password" id="password" name="password" th:value="${usuario.password}"><br>


    <label> Idiomas que habla:</label>
    <select id="SeleccionIdiomasHabla" ¡Qué idiomas hablas th:field="*{idiomas}" multiple>
        <option th:each="idioma : ${idiomas}" th:value="${idioma.id}" th:text="${idioma.getName()}"></option>
    </select>

    <label for = "paises"> Procedencia:</label>
    <select id="paises" name="SeleccionPais" th:field="*{paises}">
        <option th:each="pais : ${paises}" th:value="${pais.id}" th:text="${pais.getName()}"></option>
    </select>

    <label for="paises">Prefijo:</label>
    <select id="prefijo" name="prefijo" th:field="*{usuario.prefijo}">
        <option th:each="pais : ${paises}" th:value="${pais.id}" th:text="${pais.prefijo + ' (' + pais.nombre + ')'}"></option>
    </select>

    <h2 th:if = "${esProfesor}">Datos de profesor</h2>

    <input th:if = "${esProfesor}" type="text" id="priceperhour" name="priceperhour" th:value="${profesor.pricePerHour}"><br>




    <input type="submit" value="Guardar cambios">
</form>

<script>
    $(document).ready(function() {
        $('#SeleccionIdiomasHabla').chosen();
    });
</script>



</body>
</html>